.studyhome_box {
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 60px; }
  .studyhome_box .studyhome_inside {
    width: 1000px;
    height: auto;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 auto;
    color: white;
    border: 1px solid black;
    background: #213c5a; }

.studyhome_navbox {
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 500px;
  text-align: center;
  float: left; }
  .studyhome_navbox .studyhome_nav {
    display: inline-block;
    width: 100%;
    height: 100%;
    list-style: none; }
    .studyhome_navbox .studyhome_nav li {
      width: 100%;
      height: 20%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      border-bottom: 1px solid black;
      border-right: 1px solid black; }
      .studyhome_navbox .studyhome_nav li a {
        display: block;
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
        position: relative; }
        .studyhome_navbox .studyhome_nav li a span {
          display: inline-block;
          width: 40%;
          height: 100%;
          float: left;
          margin-left: 20px;
          position: relative;
          text-align: center; }
          .studyhome_navbox .studyhome_nav li a span img {
            width: 75px;
            height: 70px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0; }
        .studyhome_navbox .studyhome_nav li a p {
          display: inline-block;
          width: 30%;
          height: auto;
          float: left;
          margin: 0;
          position: absolute;
          right: 20%;
          bottom: 26%;
          font-size: 18px; }
    .studyhome_navbox .studyhome_nav li:hover {
      background: #bfe7ef; }
      .studyhome_navbox .studyhome_nav li:hover p {
        color: black; }
    .studyhome_navbox .studyhome_nav li:last-child {
      border-bottom: none; }


.learnhome_prompt_box {
  width: 75%;
  height: 500px;
  float: left;
  padding: 2%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: table; }
  .learnhome_prompt_box .learnhome_prompt {
    display: inline-block;
    width: auto;
    height: auto;
    display: table-cell;
    vertical-align: middle; }
  .learnhome_prompt_box .coming {
    width: 200px;
    height: 200px; }
  .learnhome_prompt_box .learnprompt {
    width: 145px;
    height: 100px; }
  .learnhome_prompt_box p {
    font-size: 30px; }
