.educator_body {
	border: 1px solid black;
	min-height: 403px;
}

.payresult_content {
	width: 80%;
	height: 335px;
	text-align: center;
	float: left;
	display: table;
	background: #214c70;
}


.payresult_img_r {
	width: 20%;
	height: 335px;
	float: right;
	border-left: 1px solid black;
}

.payresult_img_r>div {
	width: 100%;
	height: 50%;
}

.payresult_img_r>div>img {
	width: 100%;
	height: 100%;
}

.payresult_img_b {
	width: 100%;
	height: 150px;
	float: left;
	background: url(../img/studycn_bg.png) no-repeat;
	background-size: 100%;
	background-position: center;
}

.payresult_img_b>img {
	width: 120px;
	height: 120px;
	margin-left: 20px;
	margin-top: 17px;
}


/*支付成功*/

.payok_img {
	display: inline-block;
	width: 70px;
	height: 70px;
	background: url(../img/payok_icon.png) no-repeat;
	background-size: 100%;
	background-position: center;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	margin-right: 10px;
}

.payok_top {
	margin-bottom: 15px;
	font-size: 30px;
}

.payok_top>p {
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	margin: 0;
}

.payok_infor {
	font-size: 18px;
	text-align: center;
}

.payok_infor>table {
	display: inline-block;
}

.payok_infor>table>tbody>tr>td {
	height: 30px;
}


/*支付失败*/

.payfail_top {
	font-size: 30px;
	margin-bottom: 15px;
}

.payfail_img {
	display: inline-block;
	width: 70px;
	height: 70px;
	background: url(../img/payfail.png) no-repeat;
	background-size: 100%;
	background-position: center;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	margin-right: 10px;
}

.payfail_top>p {
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	margin: 0;
}

.payfail_number {
	font-size: 18px;
}

.payfail_please {
	font-size: 18px;
	color: #999999;
	text-decoration: underline;
}

.payfail_back {
	margin-top: 40px;
}