.educator_body {
	border: 1px solid black;
	min-height: 403px;
}

.payment_title {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 30px;
	background: #2b5376;
	border-bottom: 1px solid black;
}

.payment_content {
	font-size: 20px;
	padding: 20px;
	background: #214c6f;
}

.payment_creditcard {
	text-align: center;
	margin-bottom: 10px;
}

.payment_creditcard>label {
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	margin-left: 25px;
	margin-right: 25px;
	cursor: pointer;
}

.creditcard_list {
	display: inline-block;
	margin: 0;
	margin-left: 25px;
	margin-right: 25px;
}

.creditcard_list>li {
	display: inline-block;
	width: 80px;
	height: 50px;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
}

.creditcard_list>li>img {
	width: 100%;
	height: 100%;
}

.card_info_box {
	display: block;
	margin: 0 auto;
	width: 500px;
	border: 1px solid #999999;
	background: #EEEEEE;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	overflow: hidden;
}

.card_info {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}

.card_info>input {
	width: 100% !important;
	height: 45px !important;
	padding-left: 15px !important;
}

.card_safety_img {
	position: absolute;
	right: 15px;
	top: 7.5px;
	width: 30px;
	height: 30px;
    background: url(../img/safety_img.png) no-repeat;
    background-size:80%;
    background-position:center ;
}

.card_exp_left {
	float: left;
	margin: 0;
}

.card_exp_left>span {
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	color: black;
	margin-right: 5px;
}

.card_exp_left>input {
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	width: 70px !important;
	height: 45px !important;
	text-align: center;
}

.card_exp_right {
	float: right;
	margin: 0;
}

.card_exp_right>input {
	width: 70px !important;
	height: 45px !important;
	text-align: center;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
}

.card_exp_right>span {
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	width: 35px;
	height: 35px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #999999;
	background: white;
	color: #00aacb;
	text-align: center;
	line-height: 35px;
}

.pay_paypal_box {
	text-align: center;
	margin-top: 10px;
}

.pay_paypal_box>label {
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	margin-left: 60px;
	margin-right: 60px;
	cursor: pointer;
}

.pay_paypal_box>span {
	display: inline-block;
	width: 80px;
	height: 50px;
	border-radius: 5px;
	overflow: hidden;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	margin-left: 60px;
	margin-right: 60px;
}

.pay_paypal_box>span>img {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.go_pay {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.go_pay>button {
	display: inline-block;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 100px !important;
	padding-right: 100px !important;
}