/*listen_choose_4*/
.listen_choose4_word {
  width: 200px;
  margin-top: 120px;
  font-size: 26px;
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  border: 1px solid transparent; }
  .listen_choose4_word span {
    display: block;
    margin: 0 auto; }
  .listen_choose4_word span:nth-child(1) {
    color: #CC00CC; }
  .listen_choose4_word span:nth-child(2) {
    width: 140px;
    height: 140px;
    background: url("../img/cloud.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: #0082AA;
    line-height: 130px;
    font-size: 36px; }
  .listen_choose4_word span:nth-child(3) {
    color: #008000; }

.practice_choose4_active {
  border-color: white;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px; }
