/*listen_answer*/
.practice_listen_answer {
  font-family: 'Arial Rounded MT Bold', 'Arial Rounded MT'; }

.listen_answer_title {
  display: inline-block;
  width: 500px;
  height: 200px;
  background: url("../img/answer_title_bg.png") no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 26px;
  color: #0000B4;
  line-height: 200px;
  margin-top: 40px; }

.listen_answer_box {
  margin-top: 40px; }

.listen_answer {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: url("../img/cloud.png") no-repeat;
  background-size: 100% 100% !important;
  background-position: center 5px !important;
  line-height: 120px;
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer; }

.listen_answer_active {
  background: url(../img/practice_active_bg2.png) no-repeat;
  color: white !important; }

.listen_answer:nth-child(1) {
  color: #000099; }

.listen_answer:nth-child(2) {
  color: #FF0000; }
