.new_vocabulary2_content {
  margin-top: 5%; }

.new_vocabulary2_topic {
  display: inline-block;
  vertical-align: middle;
  *zoom: 1;
  *display: inline;
  margin-left: 2%;
  margin-right: 2%; }
  .new_vocabulary2_topic div {
    width: 180px;
    height: 160px; }
    .new_vocabulary2_topic div img {
      width: 100%;
      height: 100%; }
  .new_vocabulary2_topic ul {
    display: block;
    margin: 0; }
    .new_vocabulary2_topic ul li {
      display: block;
      margin: 0 auto; }
    .new_vocabulary2_topic ul li:nth-child(1) {
      font-size: 18px;
      color: black; }
    .new_vocabulary2_topic ul li:nth-child(2) {
      font-size: 30px;
      color: #982121; }
    .new_vocabulary2_topic ul li:nth-child(3) {
      width: 140px;
      height: 45px;
      line-height: 45px;
      font-size: 22px; }

.new_vocabulary2_option {
  width: 100%;
  display: block;
  margin-top: 5%; }
  .new_vocabulary2_option div {
    display: inline-block;
    width: 150px;
    margin-left: 4%;
    margin-right: 4%;
    vertical-align: middle;
    *zoom: 1;
    *display: inline; }
