/*application*/

.coursepage_application .application_left,
.coursepage_application .application_right {
	padding: 0;
	height: 100%;
	width: auto;
}

.coursepage_application .application_left .application_img {
	width: 210px;
	height: 280px;
	border: 5px solid #002D32;
	display: block;
	margin-top: 100px;
}

.application_img2 {
	width: 240px !important;
	height: 180px !important;
	margin-top: 130px !important;
}

.coursepage_application .application_left .application_img img {
	width: 100%;
	height: 100%;
}
.coursepage_application .application_left{
	float: left;
}
.coursepage_application .application_right {
	text-align: center;
	padding-top: 10%;
	font-weight: 700;
	float: right;
}

.coursepage_application .application_right .application_title {
	display: inline-block;
	padding: 5px;
	margin: 0 auto;
	font-size: 35px;
	color: white;
	font-weight: 700;
	border-radius: 5px;
	background: #002D32;
}

.coursepage_application .application_right .application_title .application_title_r {
	display: block;
	border: 2px dotted white;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background: #084E62;
}

.coursepage_application .application_right .application_gapfilling {
	border-bottom: 5px dotted #013E44;
	margin: 0 auto;
	margin-top: 50px;
	text-align: initial;
	height: 100px;
	width: 450px;
	position: relative;
}

.coursepage_application .application_right .application_gapfilling .application_play {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	right: 0;
	top: -50px;
	background: url("../img/listen_icon01.png") no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.coursepage_application .application_right .application_selectword {
	margin-top: 30px;
}

.coursepage_application .application_right .application_wordlist {
	color: white;
	font-size: 25px;
	margin: 0;
}

.coursepage_application .application_right .application_wordlist li {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
	text-align: center;
}

.coursepage_application .application_right .application_wordlist li div {
	padding: 5px;
	background: #002D32;
	border-radius: 5px;
}

.coursepage_application .application_right .application_wordlist li div p {
	background: #084E62;
	border: 2px dotted white;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 80px;
	margin: 0;
}

.coursepage_application .application_right .application_wordlist li div p span {
	display: block;
}