@charset "UTF-8";
body,
html {
    background: url("../img/bg.jpg") no-repeat !important;
    background-size: cover !important;
}
.head_box {
    background: #002D32 !important;
    font-family: 'Showcard Gothic Bold', 'Showcard Gothic Normal', 'Showcard Gothic';
}
.coursepage_title {
    float: left;
    width: 100%;
    font-size: 38px;
    text-align: center;
}
.site_name {
    font-size: 40px;
}
.coursepage_mute {
    position: absolute;
    right: 0;
}
.coursepage_mute img {
    width: 80px;
    height: 55px;
    margin-top: 13px;
}
.coursepage_right {
    position: absolute;
    width: 170px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    top: 0;
    right: 40px;
    padding-top: 80px;
    z-index: 50;
    font-family: 'Showcard Gothic Bold', 'Showcard Gothic Normal', 'Showcard Gothic';
    text-align: center;
}
.coursepage_right .connect_line {
    display: inline-block;
    width: 10px;
    height: 100%;
    background: #002D32;
    border-radius: 10px;
    z-index: 1;
}
.coursepage_right .coursepage_list {
    width: 100%;
    height: 100%;
    z-index: 444;
    position: absolute;
    font-size: 25px;
    margin-bottom: 0;
    padding-top: 80px;
}
.coursepage_right .coursepage_list li {
    width: auto;
    height: auto;
    padding: 25px 10px;
    margin-bottom: 40%;
    margin-top: 40%;
    background: #002D32;
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    border-radius: 10px;
    cursor: pointer;
}
.coursepage_right .coursepage_list p {
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
}
.coursepage_right .coursepage_list li:nth-child(1) {
    color: #FFE222;
    margin-top: 20%;
}
.coursepage_right .coursepage_list li:nth-child(2) {
    color: #FF5367;
}
.coursepage_right .coursepage_list li:nth-child(3) {
    color: #009AF4;
}
.coursepage_right .coursepage_list li:hover {
    background: #1B4471;
}
.bg_enimg {
    position: absolute;
    left: 11% !important;
    top: 60% !important;
}
.coursepage_content {
    width: 100%;
    height: auto;
    padding-top: 80px;
    position: relative;
}

/*模块通用宽度*/
.cursepage_common_box {
    width: 750px;
    height: 470px;
    margin: 0 auto;
}
/*exercise 01*/
.coursepage_exercise-01>.exe01_top {
    width: 100%;
    height: 70%;
}
.exe01_top_left,
.exe01_top_right {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    font-size: 35px;
}
.exe01_top_left>img {
    position: absolute;
    width: 250px;
    height: 200px;
}
.exe01_top_right>ul {
    display: inline-block;
    width: auto;
    height: auto;
    position: absolute;
}
.exe01_top_right>ul>.word_cn {
    padding: 5px 45px;
    border: 2px solid #999999;
    border-radius: 30px;
    background: #E5F4F7;
    color: #0082AA;
     font-size: 50px;
}
.exe01_top_right>ul>li:nth-child(1) {
    color: mediumorchid;
}
.exe01_top_right>ul>li:nth-child(3) {
    color:#009975;
}
.coursepage_exercise-01>.exe01_bottom {
    width: 100%;
    height: 30%;
    position: relative;
}
.coursepage_exercise-01>.exe01_bottom>.exe01_iconbox{
   width: 100%;
   height: auto;
   text-align: center; 
   position: absolute;
   padding-left:25%;
}
.hear-icon,.read-icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 70px;
    margin-right: 70px;
    cursor: pointer;
	float:left;
	bor-radius:50%;
}

.hear-icon{
background:url(../img/hear-icon.png) no-repeat;
background-size:100%;
}
.read-icon{
 background:url(../img/read-icon.png)  no-repeat;
 background-size:100%;
}
