/*mainbody-2*/

.coursepage_mainbody_2 {
	text-align: center;
}

.coursepage_mainbody_2 .mainbody_topic_1,
.coursepage_mainbody_2 .mainbody_topic_2,
.coursepage_mainbody_2 .mainbody_topic_3 {
	width: 75%;
	display: inline-block;
	margin: 35px auto 10px;
}

.coursepage_mainbody_2 .mainbody_topic_1 .topic_img,
.coursepage_mainbody_2 .mainbody_topic_2 .topic_img,
.coursepage_mainbody_2 .mainbody_topic_3 .topic_img {
	display: block;
	width: 100px;
	height: 100px;
	margin-top: 8px;
	float: left;
	background-position: center !important;
}

.topic_img>img {
	width: 100%;
	height: 100%;
}

.coursepage_mainbody_2 .mainbody_topic_1 .topic_box,
.coursepage_mainbody_2 .mainbody_topic_2 .topic_box,
.coursepage_mainbody_2 .mainbody_topic_3 .topic_box {
	display: block;
	float: left;
	margin-left: 60px;
	text-align: initial;
}

.coursepage_mainbody_2 .mainbody_topic_1 .topic_box .topic,
.coursepage_mainbody_2 .mainbody_topic_2 .topic_box .topic,
.coursepage_mainbody_2 .mainbody_topic_3 .topic_box .topic {
	font-size: 20px;
	font-weight: 600;
	color: black;
}

.coursepage_mainbody_2 .mainbody_topic_1 .topic_box .select_key,
.coursepage_mainbody_2 .mainbody_topic_2 .topic_box .select_key,
.coursepage_mainbody_2 .mainbody_topic_3 .topic_box .select_key {
	color: white;
	font-size: 20px;
	margin: 0 0 0 10px;
	height: 70px;
}

.coursepage_mainbody_2 .mainbody_topic_1 .topic_box .select_key li,
.coursepage_mainbody_2 .mainbody_topic_2 .topic_box .select_key li,
.coursepage_mainbody_2 .mainbody_topic_3 .topic_box .select_key li {
	display: block;
	width: auto;
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
}

.coursepage_mainbody_2 .mainbody_topic_1 .topic_box .select_key li div,
.coursepage_mainbody_2 .mainbody_topic_2 .topic_box .select_key li div,
.coursepage_mainbody_2 .mainbody_topic_3 .topic_box .select_key li div {
	height: 100%;
	padding: 5px;
	background: #002D32;
	border-radius: 5px;
	display: table;
}

.coursepage_mainbody_2 .mainbody_topic_1 .topic_box .select_key li div p,
.coursepage_mainbody_2 .mainbody_topic_2 .topic_box .select_key li div p,
.coursepage_mainbody_2 .mainbody_topic_3 .topic_box .select_key li div p {
	display: block;
	height: 100%;
	background: #084E62;
	border: 2px dotted white;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 80px;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

.coursepage_mainbody_2 .mainbody_topic_1 .topic_box .select_key li div p span,
.coursepage_mainbody_2 .mainbody_topic_2 .topic_box .select_key li div p span,
.coursepage_mainbody_2 .mainbody_topic_3 .topic_box .select_key li div p span {
	display: block;
}

.mainbody_listen {
	    position: absolute;
    left: 0;
    top: 20px;
}

.active>div{
		background: #009AF4 !important;
}
.active>div>p{
			background: #009AF4 !important;
}