/*自评总结*/

.selfappraisal_summary_content {
	width: 100%;
	height: 100%;
	display: table;
	color: black;
}

.selfappraisal_summary_top {
	width: 100%;
	overflow: hidden;
	float: left;
	margin-bottom: 35px;
}

.selfappraisal_summary_title {
	font-family: 'Showcard Gothic Bold', 'Showcard Gothic Normal', 'Showcard Gothic';
	font-weight: 700;
	font-size: 25px;
	float: left;
	margin-top: 15px;
	text-align: initial;
}

.selfappraisal_summary_title p {
	margin: 0;
}

.selfappraisal_summary_level {
    width: 195px;
    height: 100px;
    background: url(../img/evaluate_level_img.png) no-repeat;
    background-size: 110% 95%;
    background-position: -2px center;
    float: right;
}

.selfappraisal_summary_bottom {
	width: 100%;
	float: left;
	text-align: initial;
}

.selfappraisal_summary_bottom_1 {
	margin-bottom: 15px;
}

.selfappraisal_summary_bottom_1,
.selfappraisal_summary_bottom_2 {
	width: 100%;
	float: left;
	position: relative;
}

.selfappraisal_summary_word,
.selfappraisal_summary_sentence {
	display: inline-block;
	border: 5px solid black;
	background: white;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	width: 400px;
}
.selfappraisal_summary_line {
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	width: 175px;
	height: 5px;
	background: black;
	float: left;
	position: absolute;
	left: 400px;
	top: 70px;
}

.selfappraisal_summary_word .title {
	text-decoration: underline;
	font-size: 20px;
	font-weight: 600;
}

.selfappraisal_summary_word ul {
	margin: 0;
	font-weight: 700;
	font-size: 26px;
	display: inline-block;
	margin-left: 20px;
}

.selfappraisal_summary_word ul li {
	display: inline-block;
	text-align: center;
}

.selfappraisal_summary_word ul li span {
	display: block;
}

.selfappraisal_summary_sentence .title {
	text-decoration: underline;
	font-size: 24px;
	font-weight: 600;
}

.selfappraisal_summary_sentence .sentence {
	margin: 0;
	font-weight: 700;
	font-size: 26px;
	display: inline-block;
	margin-left: 20px;
}

.selfappraisal_summary_sentence .sentence span {
	display: block;
}

.selfappraisal_summar_ok {
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
	float: left;
	position: absolute;
	right: 0px;
	top: 45px;
}

.selfappraisal_summar_ok ul {
	margin: 0;
}

.selfappraisal_summar_ok ul li {
    width: 55px;
    height: 55px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid black;
    background: white;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.selfappraisal_summar_ok ul li span {
	width: 35px;
	height: 25px;
	margin: 0 auto;
	background-position: center center !important;
	background-size: 100% 100% !important;
	margin-top: 10px;
	display: block;
	position: absolute;
	left: 4px;
	z-index: 0;
}

.move {
	width: 35px;
	height: 25px;
	background: white !important;
	position: absolute;
	left: 4px;
	z-index: 99 !important;
}

.selfappraisal_summar_ok ul li:nth-child(1) span {
	background: url(../img/u1614.png) no-repeat;
}

.selfappraisal_summar_ok ul li:nth-child(2) span {
	background: url(../img/u1616.png) no-repeat;
}

.selfappraisal_summar_ok ul li:nth-child(3) span {
	background: url(../img/u1618.png) no-repeat;
}