@charset "UTF-8";
body,
html {
	background: url("../img/bg.jpg") no-repeat !important;
	background-size: cover !important;
}

.head_box {
	background: #002D32 !important;
	font-family: 'Showcard Gothic Bold', 'Showcard Gothic Normal', 'Showcard Gothic';
}

.coursepage_title {
	float: left;
	width: 100%;
	height: 100%;
	font-size: 38px;
	line-height: 80px;
	text-align: center;
}

.site_name {
	font-size: 40px;
}

.coursepage_mute {
	position: absolute;
	right: 0;
}

.coursepage_mute img {
	width: 80px;
	height: 55px;
	margin-top: 13px;
}

.coursepage_right {
	position: absolute;
	width: 170px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	top: 0;
	right: 40px;
	padding-top: 80px;
	z-index: 50;
	font-family: 'Showcard Gothic Bold', 'Showcard Gothic Normal', 'Showcard Gothic';
	text-align: center;
}

.coursepage_right .connect_line {
	display: inline-block;
	width: 10px;
	height: 100%;
	background: #002D32;
	border-radius: 10px;
	z-index: 1;
}

.coursepage_right .coursepage_list {
	width: 100%;
	height: 100%;
	z-index: 444;
	position: absolute;
	font-size: 25px;
	margin-bottom: 0;
	padding-top: 80px;
}

.coursepage_right .coursepage_list li {
	width: auto;
	height: auto;
	padding: 25px 10px;
	margin-bottom: 40%;
	margin-top: 40%;
	background: #002D32;
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform: rotate(-25deg);
	border-radius: 10px;
	cursor: pointer;
}

.coursepage_right .coursepage_list p {
	-webkit-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	transform: rotate(25deg);
}

.coursepage_right .coursepage_list li:nth-child(1) {
	color: #FFE222;
	margin-top: 20%;
}

.coursepage_right .coursepage_list li:nth-child(2) {
	color: #FF5367;
}

.coursepage_right .coursepage_list li:nth-child(3) {
	color: #009AF4;
}

.coursepage_right .coursepage_list li:hover {
	background: #1B4471;
}

.bg_enimg {
	position: absolute;
	left: 11% !important;
	top: 60% !important;
}

.coursepage_content {
	width: 100%;
	height: auto;
	padding-top: 80px;
	position: relative;
}


/*底部*/

.coursepage_bottom {
	width: 100%;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9999;
	margin-top: 40px;
	text-align: center;
}

.coursepage_bottom .coursepage_bottom_inside {
	width: 750px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}

.coursepage_bottom .coursepage_homebtn {
	display: inline-block;
	width: 80px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}

.coursepage_bottom .coursepage_planbox {
	display: inline-block;
	width: 550px;
	height: 20px;
	top: 2px;
	position: relative;
}

.coursepage_bottom .coursepage_planbox img {
	display: inline-block;
}

.coursepage_bottom .coursepage_planbox .coursepage_planleft,
.coursepage_bottom .coursepage_planbox .coursepage_planright {
	width: 30px;
	height: 20px;
	cursor: pointer;
}

.coursepage_bottom .coursepage_planbox .coursepage_planleft {
	float: left;
}

.coursepage_bottom .coursepage_planbox .coursepage_planright {
	float: right;
}

.coursepage_bottom .coursepage_planbox .coursepage_planbg {
	width: 450px;
	height: 100%;
	position: absolute;
	background: black;
	z-index: 1;
}

.coursepage_bottom .coursepage_planbox .coursepage_planshow {
	height: 100%;
	width: 250px;
	max-width: 500px;
	position: absolute;
	left: 0;
	top: 0;
	background: url("../img/jindubg.png") no-repeat;
	background-size: cover;
	z-index: 888;
}

.coursepage_bottom .coursepage_zoombtn {
	display: inline-block;
	float: right;
	width: 60px;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.coursepage_bottom .coursepage_planbtn {
	width: 15px;
	height: 30px;
	position: absolute;
	border: 2px solid black;
	border-radius: 5px;
	background: #003141;
	cursor: pointer;
	left: 100% !important;
}


/*模块通用宽度*/

.cursepage_common_box {
	width: 750px;
	height: 470px;
	margin: 0 auto;
}


/*exercise-02*/

.coursepage_exercise-02>.exe02_left {
	width: 70%;
	height: 100%;
	float: left;
	border: 1px solid #999999;
	border-radius: 20px;
}

.coursepage_exercise-02>.exe02_left>.left_list-1 {
	width: 35%;
	height: 100%;
	text-align: center;
	float: left;
}

.coursepage_exercise-02>.exe02_left>.left_list-1>li {
	display: inline-block;
	width: 180px;
	height: 145px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.coursepage_exercise-02>.exe02_left>.left_list-1>li>img {
	width: 100%;
	height: 100%;
}

.coursepage_exercise-02>.exe02_left>.left_centerimg {
	width: 30%;
	height: 100%;
	float: left;
	position: relative;
}

.coursepage_exercise-02>.exe02_left>.left_centerimg>div {
	width: 140px;
	height: 120px;
	position: absolute;
	background: url(../img/u322.png) no-repeat;
	background-size: 100%;
	font-size: 25px;
	padding-top: 10%;
	padding-bottom: 10%;
}

.coursepage_exercise-02>.exe02_left>.left_centerimg>div>p {
	text-align: center;
}

.coursepage_exercise-02>.exe02_left>.left_list-2 {
	width: 35%;
	height: 100%;
	float: left;
	text-align: center;
}

.coursepage_exercise-02>.exe02_left>.left_list-2>li {
	display: inline-block;
	width: 170px;
	height: 145px;
	border: 1px solid #999999;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 20px;
}

.coursepage_exercise-02>.exe02_right {
	float: right;
	width: 25%;
	height: 100%;
}

.coursepage_exercise-02>.exe02_right>.right_list {
	width: 100%;
	height: 100%;
	text-align: center;
}

.coursepage_exercise-02>.exe02_right>.right_list>li {
	display: inline-block;
	width: 170px;
	height: 145px;
	border-radius: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.coursepage_exercise-02>.exe02_right>.right_list>li>img {
	width: 100%;
	height: 100%;
}