@charset "UTF-8";
element.style {
	width : 0px;
}
.nav_view {
	width: 100%;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9999;
	margin-top: 40px;
	text-align: center;
}

.nav_view .nav_box {
	width: 750px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}

.nav_view .nav_button_home {
	display: inline-block;
	width: 80px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}

.nav_view .nav_button_zoom {
	display: inline-block;
	float: right;
	width: 60px;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.nav_view .nav_progress {
	display: inline-block;
	width: 550px;
	height: 20px;
	top: 2px;
	position: relative;
}

.nav_view .nav_progress img {
	display: inline-block;
}

.nav_progress_prev {
	background: url(../img/nav_progress_prev.png) no-repeat;
	background-size: 90%;
	float: left;
}

.nav_progress_next {
	background: url(../img/nav_progress_next.png) no-repeat;
	background-size: 90%;
	float: right;
}

.nav_view .nav_progress .nav_progress_prev,
.nav_view .nav_progress .nav_progress_next {
	display: inline-block;
	width: 30px;
	height: 20px;
	cursor: pointer;
}

.progress {
	width: 450px;
	height: 100%;
	background: black !important;
	overflow: initial !important;
	margin:0;
}

.progress-bar {
	background: url("../img/nav_progress.png") no-repeat;
	background-size: cover;
	position: relative;
 
}
.nav_progress_step_box{
width: 15px;
	height: 30px;
	position: absolute;
	bottom:-5px;
	right:0;
}
.nav_progress_step {
	width: 15px;
	height: 100%;
	position: absolute;
	border: 2px solid black;
	border-radius: 5px;
	background: #003141;
	cursor: pointer;
	bottom: 0;
	
	
	
}