@charset "UTF-8";
.educator_aidevaluate_box .educator_aidevaluate_points {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%; }
  .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_left {
    width: 60%;
    height: 100%;
    border-right: 1px solid black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
    .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_left p {
      display: inline-block;
      float: left;
      margin-right: 80px;
      width: auto;
      margin-top: 14px; }
      .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_left p span {
        margin: 0;
        display: inline-block; }
      .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_left p i {
        display: inline-block; }
    .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_left button {
      padding-top: 2px;
      padding-bottom: 2px;
      font-size: 16px;
      padding-left: 50px;
      padding-right: 50px;
      float: left;
      margin-top: 11px;
      background: none; }
      .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_left button a {
        color: white;
        text-decoration: none; }
    .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_left button:hover {
      background: #009eb0; }
  .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_right {
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 14px; }
    .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_right i {
      display: inline-block;
      width: 25px;
      height: 25px; }
      .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_right i img {
        width: 100%;
        height: 100%; }
    .educator_aidevaluate_box .educator_aidevaluate_points .aidevaluate_points_right span {
      margin-top: 16px;
      margin-left: 10px; }

.educator_aidevaluate_list {
  width: 100%;
  height: auto; }
  .educator_aidevaluate_list table {
    width: 100%;
    height: auto; }
    .educator_aidevaluate_list table thead tr {
      height: 40px;
      border-bottom: 1px solid black; }
    .educator_aidevaluate_list table tbody tr {
      border-bottom: 1px solid black;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .educator_aidevaluate_list table tbody tr td:first-child {
        font-size: 10px;
        text-align: initial; }
        .educator_aidevaluate_list table tbody tr td:first-child p {
          margin: 7px 0;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          position: relative;
          left: 30px; }
      .educator_aidevaluate_list table tbody tr td:last-child button {
        background: none;
        border: 1px solid white;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px; }
      .educator_aidevaluate_list table tbody tr td:last-child button:hover {
        background: #009eb0;
        border: 1px solid transparent; }

#time-label {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  *zoom: 1;
  *display: inline; }
  #time-label .educator_pagebox {
    float: none; }

/*评价弹窗*/
.aid_evaluate {
  width: 320px;
  height: auto;
  overflow: hidden;
  display: none; }
  .aid_evaluate .aid_evaluate_head {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #999999; }
    .aid_evaluate .aid_evaluate_head .aid_evaluate_img {
      width: 40%;
      height: 120px;
      float: left; }
    .aid_evaluate .aid_evaluate_head .aid_evaluate_mes {
      width: 60%;
      height: 120px;
      float: left;
      text-align: initial; }
      .aid_evaluate .aid_evaluate_head .aid_evaluate_mes p:first-child {
        font-weight: 600; }
  .aid_evaluate .aid_evaluate_bottom {
    padding-left: 3%;
    padding-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: initial; }
    .aid_evaluate .aid_evaluate_bottom p {
      margin-top: 20px; }
    .aid_evaluate .aid_evaluate_bottom textarea {
      width: 100%;
      height: 200px;
      font-size: 10px;
      margin-top: 5px;
      margin-bottom: 10px; }
    .aid_evaluate .aid_evaluate_bottom button {
      display: block;
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px; }

/*评论成功弹出*/
.evaluate_win_content {
  width: 300px;
  height: auto;
  text-align: center;
  display: none; }
  .evaluate_win_content img {
    width: 50px;
    height: 40px; }
