.educator_classinfo_box table {
  width: 60%;
  text-align: center;
  height: auto;
  margin-left: 100px;
  margin-top: 4%; }
  .educator_classinfo_box table tr {
    height: 60px; }
  .educator_classinfo_box table td:first-child {
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .educator_classinfo_box table td:first-child span {
      text-align: right; }
  .educator_classinfo_box table td:last-child {
    text-align: left; }
  .educator_classinfo_box table tr > td > span {
    display: block;
    width: 100%;
    height: auto;
    text-align: left; }
  .educator_classinfo_box table tr > td > select {
    width: 220px;
    height: 25px;
    border: none;
    color: #999999; }
  .educator_classinfo_box table tr > td > input {
    width: 220px;
    color: black;
    border: none; }

.educator_classinfo_bottom {
  width: 100%;
  height: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  position: absolute;
  bottom: 20px;
  left: 0; }
  .educator_classinfo_bottom button {
    border-radius: 20px;
    background: #00abca; }
    .educator_classinfo_bottom button a {
      text-decoration: none;
      color: white; }
