.educator_comparing_class {
  padding-top: 20px;
  padding-bottom: 20px; }
  .educator_comparing_class .title {
    margin-top: 10px; }
  .educator_comparing_class .comparing_class_chart {
    width: 100%;
    height: auto;
    overflow: hidden; }
    .educator_comparing_class .comparing_class_chart .comparing_chart_left,
    .educator_comparing_class .comparing_class_chart .comparing_progress_right {
      height: 350px;
      display: inline-block;
      vertical-align: middle;
      *zoom: 1;
      *display: inline; }

.comparing_chart_left {
  width: 45%; }

.comparing_progress_right {
  width: 50%;
  padding-top: 40px; }

.comparing_progress {
  width: 100%;
  text-align: initial;
  overflow: hidden; }
  .comparing_progress .progress {
    height: 7px;
    width: 80%;
    float: left;
    margin-top: 6px;
    overflow: initial;
    margin-bottom: 0; }
    .comparing_progress .progress .progress-bar {
      position: relative;
      border-radius: 5px; }
  .comparing_progress p {
    margin: 0;
    font-weight: 600; }
  .comparing_progress .progress_num {
    width: 12%;
    float: left;
    text-align: center;
    font-weight: normal; }

.comparing_class_btn {
  margin-top: 10px; }
  .comparing_class_btn button i,
  .comparing_class_btn button p {
    float: left;
    margin-bottom: 0; }
  .comparing_class_btn button i {
    margin-right: 10px; }
    .comparing_class_btn button i img {
      width: 15px;
      height: 15px;
      margin-bottom: 5px; }
