@charset "UTF-8";
/*我的生词库*/
.educator_mynewword_box .mynewword_content {
  width: 100%;
  height: 87%;
  padding-left: 3%;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .educator_mynewword_box .mynewword_content ul {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0; }
    .educator_mynewword_box .mynewword_content ul li {
      width: 30.8%;
      height: 29%;
      background: #d6d6d6;
      display: inline-block;
      float: left;
      margin: 10px;
      text-align: center;
      cursor: pointer; }
      .educator_mynewword_box .mynewword_content ul li .addword_img {
        width: 140px;
        height: 70px; }
      .educator_mynewword_box .mynewword_content ul li a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black; }
      .educator_mynewword_box .mynewword_content ul li p {
        margin: 0; }
      .educator_mynewword_box .mynewword_content ul li div {
        float: left;
        padding-top: 15%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      .educator_mynewword_box .mynewword_content ul li div:first-child {
        width: 45%;
        height: 100%;
        border-right: 1px solid #999999;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .educator_mynewword_box .mynewword_content ul li div:first-child span {
          font-size: 25px; }
      .educator_mynewword_box .mynewword_content ul li div:last-child {
        width: 55%;
        height: 100%; }
        .educator_mynewword_box .mynewword_content ul li div:last-child span {
          font-size: 18px;
          display: block; }
          .educator_mynewword_box .mynewword_content ul li div:last-child span i {
            margin: 5px;
            width: 25px;
            height: 25px;
            display: inline-block;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
            .educator_mynewword_box .mynewword_content ul li div:last-child span i img {
              width: 100%;
              height: 100%; }
    .educator_mynewword_box .mynewword_content ul li:first-child a {
      padding: 3% 15%; }
    .educator_mynewword_box .mynewword_content ul li:hover {
      background: rgba(100, 100, 100, 0.7); }
      .educator_mynewword_box .mynewword_content ul li:hover a {
        color: white; }

/*生词注音*/
.newword_sound {
  width: 100%;
  height: 87%;
  padding: 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .newword_sound .newword_translate {
    padding: 20px; }
  .newword_sound .newword_import,
  .newword_sound .newword_translate_1 {
    width: 50%;
    height: 70%;
    border: 1px solid #999999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    background: white;
    color: black;
    position: relative; }
    .newword_sound .newword_import .newword_import_txt,
    .newword_sound .newword_translate_1 .newword_import_txt {
      width: 100%;
      height: 100%;
      padding: 20px;
      font-size: 20px;
      color: black; }
    .newword_sound .newword_import .newword_import_icon,
    .newword_sound .newword_import .newword_translate_icon,
    .newword_sound .newword_translate_1 .newword_import_icon,
    .newword_sound .newword_translate_1 .newword_translate_icon {
      position: absolute;
      left: 0;
      bottom: 0; }
      .newword_sound .newword_import .newword_import_icon i,
      .newword_sound .newword_import .newword_translate_icon i,
      .newword_sound .newword_translate_1 .newword_import_icon i,
      .newword_sound .newword_translate_1 .newword_translate_icon i {
        float: left;
        margin: 10px;
        cursor: pointer; }
        .newword_sound .newword_import .newword_import_icon i img,
        .newword_sound .newword_import .newword_translate_icon i img,
        .newword_sound .newword_translate_1 .newword_import_icon i img,
        .newword_sound .newword_translate_1 .newword_translate_icon i img {
          width: 25px;
          height: 25px; }
  .newword_sound .newword_favorrites {
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background: #4191EF;
    font-size: 16px; }
    .newword_sound .newword_favorrites i {
      display: inline-block;
      width: auto;
      height: auto;
      float: left;
      margin-right: 20px; }
      .newword_sound .newword_favorrites i img {
        width: 25px;
        height: 25px; }
    .newword_sound .newword_favorrites p {
      float: left;
      margin: 2px 0 0; }

/*生词详细信息*/
.newword_translate {
  width: 70%;
  text-align: initial; }
  .newword_translate p {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center; }
    .newword_translate p span {
      display: block; }
    .newword_translate p .newword_py {
      color: #999999; }
    .newword_translate p .newword_cn {
      font-size: 20px;
      letter-spacing: 10px; }
  .newword_translate .newword_state {
    display: block;
    width: 100%;
    text-align: initial;
    font-size: 10px; }
  .newword_translate .newword_import_icon,
  .newword_translate .newword_translate_icon {
    position: absolute;
    left: 0;
    bottom: 0; }
    .newword_translate .newword_import_icon i,
    .newword_translate .newword_translate_icon i {
      float: left;
      margin: 10px;
      cursor: pointer; }
      .newword_translate .newword_import_icon i img,
      .newword_translate .newword_translate_icon i img {
        width: 25px;
        height: 25px; }
  .newword_translate .translate_right {
    display: inline-block;
    width: auto;
    height: auto;
    position: absolute;
    right: 10px;
    bottom: 0;
    cursor: pointer; }
    .newword_translate .translate_right span {
      padding: 3px 5px;
      background: #4191ef;
      border-radius: 5px;
      color: white;
      margin-bottom: 5px; }
    .newword_translate .translate_right i {
      width: auto;
      height: auto;
      display: block; }
    .newword_translate .translate_right img {
      width: 25px;
      height: 25px; }

/*生词分类弹窗*/
.newword_categories {
  width: 350px;
  height: auto; }
  .newword_categories .newword_categories_title {
    width: 100%;
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .newword_categories .newword_categories_content {
    width: 100%; }
    .newword_categories .newword_categories_content table {
      width: auto;
      margin: 20px auto; }
      .newword_categories .newword_categories_content table tr {
        height: 50px; }
    .newword_categories .newword_categories_content span {
      display: block; }
    .newword_categories .newword_categories_content select {
      color: black;
      padding-left: 45px;
      padding-right: 45px;
      border: none;
      border: 1px solid #999999;
      color: #999999;
      height: 25px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .newword_categories button {
    padding-left: 80px;
    padding-right: 80px; }

/*修改生词信息弹窗*/
.newword_mes {
  width: 240px; }
  .newword_mes .newword_translate {
    width: 100%; }
    .newword_mes .newword_translate .newword_state {
      margin-bottom: 50px; }

/*请添加生词页面*/
.educator_addnewwords_box a {
  width: 220px;
  height: auto;
  position: absolute;
  text-decoration: none;
  color: #94d7e4; }
  .educator_addnewwords_box a img {
    width: 170px;
    height: 80px; }
  .educator_addnewwords_box a p {
    font-size: 20px; }
