
.studyhome_box {
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 60px; }
  .studyhome_box .studyhome_inside {
    width: 1000px;
    height: auto;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 auto;
    color: white;
    border: 1px solid black;
    background: #213c5a; }

a {
  color: white;
  text-decoration: none; }

.studyhome_navbox {
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 500px;
  text-align: center;
  float: left; }
  .studyhome_navbox .studyhome_nav {
    display: inline-block;
    width: 100%;
    height: 100%;
    list-style: none; }
    .studyhome_navbox .studyhome_nav li {
      width: 100%;
      height: 20%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      border-bottom: 1px solid black;
      border-right: 1px solid black; }
      .studyhome_navbox .studyhome_nav li a {
        display: block;
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
        position: relative; }
        .studyhome_navbox .studyhome_nav li a span {
          display: inline-block;
          width: 40%;
          height: 100%;
          float: left;
		  margin-left:20px;
          position: relative;
          text-align: center; }
          .studyhome_navbox .studyhome_nav li a span img {
            width: 75px;
            height: 70px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0; }
        .studyhome_navbox .studyhome_nav li a p {
          display: inline-block;
          width: 30%;
          height: auto;
          float: left;
          margin: 0;
          position: absolute;
          right: 20%;
          bottom: 26%;
          font-size: 18px; }
    .studyhome_navbox .studyhome_nav li:hover {
      background: #bfe7ef; }
      .studyhome_navbox .studyhome_nav li:hover p {
        color: black; }
    .studyhome_navbox .studyhome_nav li:last-child {
      border-bottom: none; }

.journalhome_box {
  width: 75%;
  height: 500px;
  float: left;
  display: inline-block;
  text-align: center; }
  .journalhome_box .journalhome_title {
    height: 20%;
    width: 100%;
    border-bottom: 1px solid black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5%;
    position: relative; }
    .journalhome_box .journalhome_title span {
      border: 1px solid #CCCCCC;
      display: inline-block;
      height: 100%;
      float: left;
      margin-right: 2%; }
    .journalhome_box .journalhome_title p {
      display: inline-block;
      float: left;
      margin: 0;
      width: auto;
      height: 100%;
      font-size: 20px; }
    .journalhome_box .journalhome_title select {
      color: black;
      width: 140px;
      height: 25px;
      border-radius: 10px;
      border: none;
      outline: none;
      margin-left: 5%; }

.journalhome_selection_content {
  width: 88%;
  height: 80%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin-left: 1%;
  margin-right: 1%; }
  .journalhome_selection_content .journalhome_selection_left {
    width: 25%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    padding-top: 15%; }
    .journalhome_selection_content .journalhome_selection_left .journalhome_selection_img {
      width: 100%;
      height: auto;
      display: block; }
    .journalhome_selection_content .journalhome_selection_left .journalhome_selection_name {
      display: block;
      width: 100%;
      height: auto;
      text-align: center;
      margin-top: 5%;
      font-size: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .journalhome_selection_content .journalhome_selection_left .journalhome_selection_name p {
        display: inline-block;
        width: auto;
        height: auto;
        margin: 0;
        word-wrap: break-word;
        word-break: break-all;
        vertical-align: top;
        *zoom: 1;
        *display: inline; }
      .journalhome_selection_content .journalhome_selection_left .journalhome_selection_name i {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block; }
    .journalhome_selection_content .journalhome_selection_left .journalhome_selection_list {
      display: block;
      width: 100%;
      height: 20px;
      text-align: center;
      margin-top: 5%; }
      .journalhome_selection_content .journalhome_selection_left .journalhome_selection_list .journalhome_selection_rank {
        display: inline-block;
        width: 20px;
        height: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        vertical-align: top;
        *zoom: 1;
        *display: inline;
        background: #e9ac28;
        border-radius: 50%;
        font-size: 10px;
        line-height: 20px; }
      .journalhome_selection_content .journalhome_selection_left .journalhome_selection_list span {
        display: inline-block;
        width: auto;
        height: 100%;
        line-height: 20px;
        margin-left: 5%; }
        .journalhome_selection_content .journalhome_selection_left .journalhome_selection_list span i {
          display: inline-block;
          vertical-align: top;
          *zoom: 1;
          *display: inline; }
        .journalhome_selection_content .journalhome_selection_left .journalhome_selection_list span p {
          display: inline-block;
          margin: 0; }
  .journalhome_selection_content .journalhome_selection_right {
    width: 74%;
    height: 100%;
    float: right;
    text-align: initial;
    padding-top: 4%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .journalhome_selection_content .journalhome_selection_right .journalhome_selection_data {
      width: 100%;
      height: auto;
      background: #1d354f;
      border-radius: 20px;
      overflow: hidden; }
      .journalhome_selection_content .journalhome_selection_right .journalhome_selection_data div {
        display: block;
        width: 100%;
        height: auto;
        margin: 10% 5%; }
        .journalhome_selection_content .journalhome_selection_right .journalhome_selection_data div span {
          color: #00bdff;
          font-size: 17px;
          display: inline-block; }
    .journalhome_selection_content .journalhome_selection_right .journalhome_selection_pro {
      width: 100%;
      height: auto;
      margin-top: 5%; }
      .journalhome_selection_content .journalhome_selection_right .journalhome_selection_pro .jh_sltpro_title {
        display: block;
        padding-left: 5%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 2%;
        width: 100%;
        height: auto; }
      .journalhome_selection_content .journalhome_selection_right .journalhome_selection_pro .jh_sltpro_box {
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #1e3752;
        border-radius: 20px;
        overflow: hidden;
        height: auto;
        padding: 2%; }
    .journalhome_selection_content .journalhome_selection_right .jh_sltpro_bar {
      width: 100%;
      height: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #2E4860;
      overflow: hidden;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      position: relative;
      border-bottom: 1px solid #0D2545;
      padding-left: 3%;
      padding-right: 3%; }
      .journalhome_selection_content .journalhome_selection_right .jh_sltpro_bar .progress {
        height: 5px;
        width: 80%;
        display: inline-block;
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 12%;
        bottom: 0;
        background: #b8b8b8;
        border-radius: 5px; }
      .journalhome_selection_content .journalhome_selection_right .jh_sltpro_bar .progress-bar {
        height: 100%;
        background: #04bbff; }
      .journalhome_selection_content .journalhome_selection_right .jh_sltpro_bar p {
        display: inline-block;
        float: right;
        margin: 0;
        width: auto;
        height: 100%; }
    .journalhome_selection_content .journalhome_selection_right .journalhome_selection_type {
      width: 100%;
      height: 55px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 4%;
      text-align: center; }
      .journalhome_selection_content .journalhome_selection_right .journalhome_selection_type span {
        display: inline-block;
        width: 25%;
        background: #1a3048;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 55px;
        font-size: 17px;
        text-align: center;
        margin-left: 3.5%;
        margin-right: 3.5%;
        border-radius: 10px;
        cursor: pointer;
        vertical-align: top;
        *zoom: 1;
        *display: inline;
        position: relative; }
        .journalhome_selection_content .journalhome_selection_right .journalhome_selection_type span a {
          text-decoration: none;
          color: white;
          display: block;
          width: 100%;
          height: 100%; }
        .journalhome_selection_content .journalhome_selection_right .journalhome_selection_type span p {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          margin: auto;
          display: table;
          text-align: center; }
      .journalhome_selection_content .journalhome_selection_right .journalhome_selection_type span:hover {
        background: #415e78; }
